---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="flex font-sans bg-white justify-around m-[2rem]">
		<section class="flex flex-col w-[60rem] bg-white divide-y-2 divide-gray-200">
			<a class="text-blue-600 font-semibold text-3xl hover:underline p-1 cursor-pointer" href="/">landing-page</a>
			<p class="text-3xl font-semibold pt-5 pb-2">Sitio en construcción</p>
			<p class="text-base pt-5 pb-5">¡Hola! Gracias por visitar. Actualmente, esta página está en proceso de construcción.</p>
			<p class="text-3xl font-semibold pt-5 pb-5">Site under development</p>
			<p class="text-base pt-5 pb-5">This site is currently under development. Check back soon for updates!</p>
		</section>
	</body>
</html>
