---
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
---

<BaseLayout title="Lorem ipsum" , selected={Astro.self.name}>
	<section
		class="flex flex-col w-[60rem] max-h-min bg-white mt-16 rounded-lg p-4"
	>
		<div class="divide-y-2">
			<a
				class="text-green-700 font-semibold text-3xl hover:underline p-1 cursor-pointer"
				href="/"
				>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
				veniam quas est asperiores iure qui! Aspernatur magnam veniam
				ipsa cumque maiores, molestiae ab laboriosam obcaecati
				repudiandae fugiat vero nulla doloribus?</a
			>
			<p class="text-base font-semibold pt-5 pb-2">
				Lorem ipsum odor amet, consectetuer adipiscing elit. Auctor cras primis; libero ac torquent nec nunc a quam? Est felis conubia scelerisque libero diam duis a? Nunc litora et netus viverra ex morbi. Velit euismod mattis justo luctus auctor fermentum quisque eget id. Dis dictum rhoncus convallis donec lorem pellentesque, augue ac blandit. Porta curabitur arcu commodo commodo inceptos. Faucibus ultrices bibendum gravida; rutrum nisl duis. Tempus egestas ac dis velit magnis iaculis nulla maximus vestibulum.

Hac orci habitant tempor porta arcu nostra blandit. Ullamcorper nulla adipiscing quis dis risus et. Porttitor platea aliquet litora dictum malesuada ut. Proin sapien vel inceptos laoreet scelerisque facilisis. Nisl imperdiet maecenas mattis etiam nam fames suspendisse. Rutrum nulla sem interdum ad tristique.

Blandit himenaeos mauris vivamus massa donec vitae. Non nisi vulputate auctor praesent diam sollicitudin. Sapien rhoncus sit in ligula tristique praesent aenean. Pretium potenti dictum ultricies turpis dui dapibus nisl dis. Potenti aliquam torquent vestibulum tristique vulputate dictumst diam accumsan. Etiam netus libero luctus nam risus et ac. Eu aliquam vehicula taciti sagittis, a laoreet fringilla. Mattis vivamus justo netus etiam sit; suspendisse pellentesque consequat.

Volutpat elementum felis potenti himenaeos ac conubia. Urna pharetra magna hendrerit ligula egestas. Convallis fusce montes neque mauris montes a. Fermentum varius netus facilisis auctor cubilia hendrerit iaculis! Iaculis tincidunt accumsan lacinia orci mi per; dis felis. Ut semper congue habitant; purus efficitur nullam. Ridiculus habitasse vestibulum sem est elit tortor laoreet.

Ornare porta massa enim aliquet accumsan risus nullam. Volutpat parturient imperdiet iaculis a sapien ad duis euismod. Orci pulvinar viverra turpis finibus est. Accumsan eleifend habitasse tortor laoreet elit sem platea. Lacinia dis felis ultrices, fames nec dui tempor rutrum per. Eget porttitor morbi fringilla vitae tortor eu. Ligula maximus a pulvinar bibendum primis diam potenti lectus. Facilisi porta molestie neque netus nullam ullamcorper faucibus amet ridiculus.

Suspendisse sagittis condimentum tempor; fringilla dis tincidunt magnis sociosqu. Montes lorem nam vivamus fusce ornare; fusce est maximus. Proin primis duis nisi odio duis. Praesent platea habitasse nisl convallis conubia mauris posuere? Vulputate nibh vitae orci praesent bibendum etiam. Nullam nascetur hendrerit conubia porttitor nam primis tortor. Eros velit donec dolor eros massa rhoncus. Donec leo congue etiam sagittis lobortis; egestas per etiam.

Dictum condimentum facilisis nam dictum, potenti aptent torquent erat. Malesuada netus maecenas feugiat pulvinar molestie tempor habitant eros. Rhoncus enim id condimentum potenti arcu nostra etiam est. Quam velit litora vitae orci quam facilisis. Semper eget faucibus pellentesque volutpat integer aliquam finibus lacinia. Finibus ultricies curae magnis nisl habitasse orci etiam ut. Pharetra purus mauris nam diam posuere natoque. Turpis vitae cursus accumsan hendrerit bibendum suspendisse.

Tortor habitasse hendrerit natoque senectus imperdiet litora proin pretium. Bibendum netus congue varius; condimentum nibh dictum? Lectus mi efficitur elit lectus vehicula curabitur cursus. Donec mattis ornare tempus; conubia diam purus. Sit vestibulum per elit vehicula odio. Feugiat facilisis commodo tellus arcu gravida habitant. Maximus cubilia ultricies enim vestibulum vitae turpis malesuada faucibus. Dictumst porttitor iaculis vestibulum tortor pellentesque vitae.

Litora velit congue lacus fames varius. Ante iaculis magna id leo suspendisse. Aptent aliquet consequat facilisi condimentum placerat luctus sem. Consectetur consequat vestibulum pulvinar ex senectus. Ornare donec mollis commodo ligula orci ligula pulvinar curabitur. Platea ut et aliquam consequat volutpat fusce inceptos nascetur.

Aenean quam sem lacinia; porta elit laoreet sit. Porta faucibus quam vel aliquam dignissim vulputate quis. Semper proin risus mi amet pellentesque risus. Lacinia eget quam id nullam pharetra orci faucibus pretium. Morbi ac justo vitae posuere quis netus. Convallis consectetur quam montes dis tincidunt fringilla? Etiam ultrices dis facilisis massa maximus non molestie.
			</p>
		</div>
	</section>
</BaseLayout>
