---
import {twMerge} from 'tailwind-merge';

interface Props {
    class?: string; 
}

const baseClasses = "flex flex-col p-12 max-h-min bg-aro-900 rounded-3xl";
const { class: propClasses } = Astro.props as Props;
const classes = twMerge(baseClasses, propClasses);

---

<div class={classes}>
    <slot />
</div>
