---
---
<footer
  class="flex flex-row justify-end bg-aro-50 flex-wrap w-full p-1 text-base"
>
  <div>
    <p class="flex flex-row text-right mr-1 text-nowrap">
      © Copyright 2025 Cristobal (
      <a
        href="https://github.com/epeat96"
        class="text-vanHelsing-900 ml-1 mr-1 font-semibold hover:underline"
        >Epeat</a
      >) Barreto.
    </p>
  </div>
  <div>
    <p class="flex flex-row text-right mr-1 text-nowrap">
      Powered by
      <a
        href="https://astro.build"
        class="text-vanHelsing-900 ml-1 font-semibold hover:underline"
      >
        Astro</a
      >.
    </p>
  </div>
  <div>
    <p class="flex flex-row text-right mr-1 text-nowrap">
      Hosted on
      <a
        href="https://pages.github.com/"
        class="text-vanHelsing-900 ml-1 font-semibold hover:underline"
      >
        Github Pages
      </a>
      .
    </p>
  </div>
</footer>
