---
interface Props  {
    title?: string,
	description?: string,
};

const { title = "My new page", description = "Page under construction" } = Astro.props as Props; 
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href={Astro.url} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<title>{title}</title>
	</head>
	<body
		class="flex font-sans bg-white place-content-center bg-[url('/uc.webp')] min-h-screen"
	>
        <slot />
    </body>
</html>